@import com.flashjob.views.html.partials._
@()(implicit flash: Flash, req: RequestHeader, message: MessagesApi, lang: Lang, langs: Seq[Lang])
@main(message("pages.index.title")) {
    @header("home")

    <div class="container">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4>@message("pages.index.alert.header")</h4>
            <p>@message("pages.index.alert.p1")</p>
            <p>@message("pages.index.alert.p2")</p>
        </div>
        <div class="starter-template">
            <h1>@message("pages.index.header")</h1>
            <p class="lead">@message("pages.index.p1")<br>@message("pages.index.p2")</p>
        </div>
    </div>
}